In [11]:
import pandas as pd

In [12]:
df = pd.read_excel("data3.xlsx")
df

,Unnamed: 0,Unnamed: 0.1,Date,Contest number,Word,Number of reported results,Number in hard mode,1 try,2 tries,3 tries,4 tries,5 tries,6 tries,7 or more tries (X),ratio,vowel,len,uniq,star
0,0,0,2022-01-07,202,slump,80630,1362,1,3,23,39,24,9,1,0.016892,1,5,5,2
1,1,1,2022-01-08,203,crank,101503,1763,1,5,23,31,24,14,2,0.017369,1,5,5,1
2,2,2,2022-01-09,204,gorge,91477,1913,1,3,13,27,30,22,4,0.020912,2,5,4,1
3,3,3,2022-01-10,205,query,107134,2242,1,4,16,30,30,17,2,0.020927,2,5,5,2
4,4,4,2022-01-11,206,drink,153880,3017,1,9,35,34,16,5,1,0.019606,1,5,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,350,350,2022-12-27,556,condo,20879,2012,0,2,17,35,29,14,3,0.096365,2,5,4,0
351,351,351,2022-12-28,557,impel,20160,1937,0,3,21,40,25,9,1,0.096081,2,5,5,0
352,352,352,2022-12-29,558,havoc,20001,1919,0,2,16,38,30,12,2,0.095945,2,5,5,0
353,353,353,2022-12-30,559,molar,21204,1973,0,4,21,38,26,9,1,0.093048,2,5,5,0
354,354,354,2022-12-31,560,manly,20380,1899,0,2,17,37,29,12,2,0.093180,1,5,5,0

In [13]:
words = df["Word"]
df["star"] = 0

In [14]:
import time
from selenium import webdriver
from selenium.webdriver.chrome.service import Service  # 新增
from selenium.webdriver.common.by import By
import re

max_size = len(words)
path = "D:\MyPython\msedgedriver.exe"
service = Service(executable_path=path)
option = webdriver.EdgeOptions()
option.add_argument('headless')
for i in range(294, max_size):
    driver = webdriver.Edge(service=service, options=option)
    p = "https://dict.youdao.com/result?word=" + words[i] + "&lang=en"
    driver.get(p)
    time.sleep(4)
    try:
        button = driver.find_element(by=By.XPATH,
                                     value="/html/body/div/div/div/div/div[1]/div/div/section/div[2]/div[1]/div/ul/li[2]")
        # print(button)
        button.click()
        selenium_page = driver.page_source
        # print(selenium_page)

        df["star"][i] = re.findall(r"star star\d*", selenium_page)[0][-1]
        print(i, df["star"][i])
    except:
        print("except")
        driver.quit()
        time.sleep(0.5)
    driver.quit()
    time.sleep(0.5)
print("--")

X:\Temp\ipykernel_27196\3901877058.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["star"][i] = re.findall(r"star star\d*", selenium_page)[0][-1]

294 1
except
except
297 1
298 1
299 5
300 4
301 1
302 5
303 3
304 1
305 2
306 3
except
except
309 1
310 1
311 1
312 5
except
314 2
315 3
except
317 3
318 5
319 2
except
321 4
322 1
323 1
324 5
325 1
except
327 1
328 1
except
330 1
except
332 1
333 1
334 3
except
336 4
except
338 4
339 4
340 2
341 1
342 2
343 4
344 1
345 1
except
except
348 4
349 4
except
except
352 1
except
354 1
--

In [15]:
df

,Unnamed: 0,Unnamed: 0.1,Date,Contest number,Word,Number of reported results,Number in hard mode,1 try,2 tries,3 tries,4 tries,5 tries,6 tries,7 or more tries (X),ratio,vowel,len,uniq,star
0,0,0,2022-01-07,202,slump,80630,1362,1,3,23,39,24,9,1,0.016892,1,5,5,0
1,1,1,2022-01-08,203,crank,101503,1763,1,5,23,31,24,14,2,0.017369,1,5,5,0
2,2,2,2022-01-09,204,gorge,91477,1913,1,3,13,27,30,22,4,0.020912,2,5,4,0
3,3,3,2022-01-10,205,query,107134,2242,1,4,16,30,30,17,2,0.020927,2,5,5,0
4,4,4,2022-01-11,206,drink,153880,3017,1,9,35,34,16,5,1,0.019606,1,5,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,350,350,2022-12-27,556,condo,20879,2012,0,2,17,35,29,14,3,0.096365,2,5,4,0
351,351,351,2022-12-28,557,impel,20160,1937,0,3,21,40,25,9,1,0.096081,2,5,5,0
352,352,352,2022-12-29,558,havoc,20001,1919,0,2,16,38,30,12,2,0.095945,2,5,5,1
353,353,353,2022-12-30,559,molar,21204,1973,0,4,21,38,26,9,1,0.093048,2,5,5,0
354,354,354,2022-12-31,560,manly,20380,1899,0,2,17,37,29,12,2,0.093180,1,5,5,1

In [ ]:
df.to_excel("data4.xlsx")

In [16]:
fig.add_annotation(
    x=pd.to_datetime("3/1/2023"),
    y=result,
    text=result,
    font={'color': 'red', 'size': 14, 'family': 'Arial'},
    showarrow=True, arrowhead=4, arrowwidth=2, arrowside='end', arrowsize=0.7, arrowcolor='red',
    opacity=0.5,
)