In [16]:
import pandas as pd
import plotly.graph_objs as go
import plotly.express as px
import plotly.io as pio
import numpy as np
import pandas as pd

pio.templates.default = "plotly_white"
df = pd.read_excel("data3.xlsx")
df["Date"] = pd.to_datetime(df["Date"])
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Date,Contest number,Word,Number of reported results,Number in hard mode,1 try,2 tries,...,5 tries,6 tries,7 or more tries (X),ratio,vowel,len,uniq,star,three_s,three_ss
0,0,NaN,NaN,2022-01-07,202,slump,80630,1362,1,3,...,24,9,1,0.016892,1,5,5,2,0.27,27
1,1,NaN,NaN,2022-01-08,203,crank,101503,1763,1,5,...,24,14,2,0.017369,1,5,5,2,0.29,29
2,2,NaN,NaN,2022-01-09,204,gorge,91477,1913,1,3,...,30,22,4,0.020912,2,5,4,1,0.17,17
3,3,NaN,NaN,2022-01-10,205,query,107134,2242,1,4,...,30,17,2,0.020927,2,5,5,2,0.21,21
4,4,NaN,NaN,2022-01-11,206,drink,153880,3017,1,9,...,16,5,1,0.019606,1,5,5,4,0.45,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,350,NaN,NaN,2022-12-27,556,condo,20879,2012,0,2,...,29,14,3,0.096365,2,5,4,1,0.19,19
351,351,NaN,NaN,2022-12-28,557,impel,20160,1937,0,3,...,25,9,1,0.096081,2,5,5,2,0.24,24
352,352,NaN,NaN,2022-12-29,558,havoc,20001,1919,0,2,...,30,12,2,0.095945,2,5,5,3,0.18,18
353,353,NaN,NaN,2022-12-30,559,molar,21204,1973,0,4,...,26,9,1,0.093048,2,5,5,2,0.25,25
354,354,NaN,NaN,2022-12-31,560,manly,20380,1899,0,2,...,29,12,2,0.093180,1,5,5,2,0.19,19

In [26]:
u_n = df["Number of  reported results"].mean()
u_h = df["Number in hard mode"].mean()
u1 = df["1 try"].mean()
u2 = df["2 tries"].mean()
u3 = df["3 tries"].mean()
u4 = df["4 tries"].mean()
u5 = df["5 tries"].mean()
u6 = df["6 tries"].mean()
u7 = df["7 or more tries (X)"].mean()
u_v = df["vowel"].mean()
u_uniq = df["uniq"].mean()
u_star = df["star"].mean()
s_n = df["Number of  reported results"].std()
s_h = df["Number in hard mode"].std()
s1 = df["1 try"].std()
s2 = df["2 tries"].std()
s3 = df["3 tries"].std()
s4 = df["4 tries"].std()
s5 = df["5 tries"].std()
s6 = df["6 tries"].std()
s7 = df["7 or more tries (X)"].std()
s_v = df["vowel"].std()
s_uniq = df["uniq"].std()
s_star = df["star"].std()

s1,s2,s3,s4,s5,s6, s7

(0.7816935460093568,
 3.9939438517645667,
 7.758674110414699,
 5.360906384137773,
 5.9143282851238315,
 6.192409690381755,
 4.140788421291353)

In [15]:
df["Number of  reported results"] = (df["Number of  reported results"] - u_n) / s_n
df["1 try"] = (df["1 try"] - u1) / s1
df["2 tries"] = (df["2 tries"] - u2) / s2
df["3 tries"] = (df["3 tries"] - u3) / s3
df["4 tries"] = (df["4 tries"] - u4) / s4
df["5 tries"] = (df["5 tries"] - u5) / s5
df["6 tries"] = (df["6 tries"] - u6) / s6
df["7 or more tries (X)"] = (df["7 or more tries (X)"] - u7) / s7
df["vowel"] = (df["vowel"] - u_v) / s_v
df["uniq"] = (df["uniq"] - u_uniq) / s_uniq
df["star"] = (df["star"] - u_star) / s_star
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Date,Contest number,Word,Number of reported results,Number in hard mode,1 try,2 tries,...,5 tries,6 tries,7 or more tries (X),ratio,vowel,len,uniq,star,three_s,three_ss
0,0,NaN,NaN,2022-01-07,202,slump,-0.117038,1362,0.684682,-0.696124,...,0.053344,-0.416685,-0.438101,0.016892,-1.278686,5,0.604574,-0.517873,0.27,27
1,1,NaN,NaN,2022-01-08,203,crank,0.115919,1763,0.684682,-0.195366,...,0.053344,0.390756,-0.196601,0.017369,-1.278686,5,0.604574,-0.517873,0.29,29
2,2,NaN,NaN,2022-01-09,204,gorge,0.004022,1913,0.684682,-0.696124,...,1.067829,1.682660,0.286398,0.020912,0.348316,5,-1.420179,-1.410324,0.17,17
3,3,NaN,NaN,2022-01-10,205,query,0.178765,2242,0.684682,-0.445745,...,1.067829,0.875220,-0.196601,0.020927,0.348316,5,0.604574,-0.517873,0.21,21
4,4,NaN,NaN,2022-01-11,206,drink,0.700481,3017,0.684682,0.806150,...,-1.299303,-1.062637,-0.438101,0.019606,-1.278686,5,0.604574,1.267029,0.45,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,350,NaN,NaN,2022-12-27,556,condo,-0.783899,2012,-0.594592,-0.946503,...,0.898748,0.390756,0.044899,0.096365,0.348316,5,-1.420179,-1.410324,0.19,19
351,351,NaN,NaN,2022-12-28,557,impel,-0.791923,1937,-0.594592,-0.696124,...,0.222425,-0.416685,-0.438101,0.096081,0.348316,5,0.604574,-0.517873,0.24,24
352,352,NaN,NaN,2022-12-29,558,havoc,-0.793698,1919,-0.594592,-0.946503,...,1.067829,0.067779,-0.196601,0.095945,0.348316,5,0.604574,0.374578,0.18,18
353,353,NaN,NaN,2022-12-30,559,molar,-0.780272,1973,-0.594592,-0.445745,...,0.391506,-0.416685,-0.438101,0.093048,0.348316,5,0.604574,-0.517873,0.25,25
354,354,NaN,NaN,2022-12-31,560,manly,-0.789468,1899,-0.594592,-0.946503,...,0.898748,0.067779,-0.196601,0.093180,-1.278686,5,0.604574,-0.517873,0.19,19

In [6]:
df.to_excel("data4.xlsx")