In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel("data.xlsx", header=1)
df["Date"] = pd.to_datetime(df["Date"])
df

,Date,Contest number,Word,Number of reported results,Number in hard mode,1 try,2 tries,3 tries,4 tries,5 tries,6 tries,7 or more tries (X),ratio
0,2022-01-07,202,slump,80630,1362,1,3,23,39,24,9,1,0.016892
1,2022-01-08,203,crank,101503,1763,1,5,23,31,24,14,2,0.017369
2,2022-01-09,204,gorge,91477,1913,1,3,13,27,30,22,4,0.020912
3,2022-01-10,205,query,107134,2242,1,4,16,30,30,17,2,0.020927
4,2022-01-11,206,drink,153880,3017,1,9,35,34,16,5,1,0.019606
...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,2022-12-27,556,condo,20879,2012,0,2,17,35,29,14,3,0.096365
355,2022-12-28,557,impel,20160,1937,0,3,21,40,25,9,1,0.096081
356,2022-12-29,558,havoc,20001,1919,0,2,16,38,30,12,2,0.095945
357,2022-12-30,559,molar,21204,1973,0,4,21,38,26,9,1,0.093048
358,2022-12-31,560,manly,20380,1899,0,2,17,37,29,12,2,0.093180

In [3]:
max_size = len(df)
max_size

359

In [4]:
df["vowel"] = 0
for k in range(0, max_size):
    df["vowel"][k] = len([i for i in df["Word"][k] if i in "aeiou"])
df

X:\Temp\ipykernel_8020\3148763054.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["vowel"][k] = len([i for i in df["Word"][k] if i in "aeiou"])

,Date,Contest number,Word,Number of reported results,Number in hard mode,1 try,2 tries,3 tries,4 tries,5 tries,6 tries,7 or more tries (X),ratio,vowel
0,2022-01-07,202,slump,80630,1362,1,3,23,39,24,9,1,0.016892,1
1,2022-01-08,203,crank,101503,1763,1,5,23,31,24,14,2,0.017369,1
2,2022-01-09,204,gorge,91477,1913,1,3,13,27,30,22,4,0.020912,2
3,2022-01-10,205,query,107134,2242,1,4,16,30,30,17,2,0.020927,2
4,2022-01-11,206,drink,153880,3017,1,9,35,34,16,5,1,0.019606,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,2022-12-27,556,condo,20879,2012,0,2,17,35,29,14,3,0.096365,2
355,2022-12-28,557,impel,20160,1937,0,3,21,40,25,9,1,0.096081,2
356,2022-12-29,558,havoc,20001,1919,0,2,16,38,30,12,2,0.095945,2
357,2022-12-30,559,molar,21204,1973,0,4,21,38,26,9,1,0.093048,2
358,2022-12-31,560,manly,20380,1899,0,2,17,37,29,12,2,0.093180,1

In [5]:
np.unique(df["vowel"])

array([0, 1, 2, 3], dtype=int64)

In [6]:
df["len"] = 0
for k in range(0, max_size):
    df["len"][k] = len(df["Word"][k])
df

X:\Temp\ipykernel_8020\2039716170.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["len"][k] = len(df["Word"][k])

,Date,Contest number,Word,Number of reported results,Number in hard mode,1 try,2 tries,3 tries,4 tries,5 tries,6 tries,7 or more tries (X),ratio,vowel,len
0,2022-01-07,202,slump,80630,1362,1,3,23,39,24,9,1,0.016892,1,5
1,2022-01-08,203,crank,101503,1763,1,5,23,31,24,14,2,0.017369,1,5
2,2022-01-09,204,gorge,91477,1913,1,3,13,27,30,22,4,0.020912,2,5
3,2022-01-10,205,query,107134,2242,1,4,16,30,30,17,2,0.020927,2,5
4,2022-01-11,206,drink,153880,3017,1,9,35,34,16,5,1,0.019606,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,2022-12-27,556,condo,20879,2012,0,2,17,35,29,14,3,0.096365,2,5
355,2022-12-28,557,impel,20160,1937,0,3,21,40,25,9,1,0.096081,2,5
356,2022-12-29,558,havoc,20001,1919,0,2,16,38,30,12,2,0.095945,2,5
357,2022-12-30,559,molar,21204,1973,0,4,21,38,26,9,1,0.093048,2,5
358,2022-12-31,560,manly,20380,1899,0,2,17,37,29,12,2,0.093180,1,5

In [61]:
np.unique(df["len"])

array([4, 5, 6], dtype=int64)

In [62]:
pd.value_counts(df["len"])

5    355
4      2
6      2
Name: len, dtype: int64

In [9]:
df[df["len"] == 4]

,Date,Contest number,Word,Number of reported results,Number in hard mode,1 try,2 tries,3 tries,4 tries,5 tries,6 tries,7 or more tries (X),ratio,vowel,len
112,2022-04-29,314,tash,106652,7001,2,19,34,27,13,4,1,0.065643,1,4
323,2022-11-26,525,clen,26381,2424,1,17,36,31,12,3,0,0.091884,1,4

In [17]:
df[df["len"] == 6]["Word"]

5      favor
343    rprobe
Name: Word, dtype: object

In [65]:
pd.value_counts(df["len"])

5    355
Name: len, dtype: int64

In [67]:
df

,Date,Contest number,Word,Number of reported results,Number in hard mode,1 try,2 tries,3 tries,4 tries,5 tries,6 tries,7 or more tries (X),ratio,vowel,len,uniq
0,2022-01-07,202,slump,80630,1362,1,3,23,39,24,9,1,0.016892,1,5,5
1,2022-01-08,203,crank,101503,1763,1,5,23,31,24,14,2,0.017369,1,5,5
2,2022-01-09,204,gorge,91477,1913,1,3,13,27,30,22,4,0.020912,2,5,4
3,2022-01-10,205,query,107134,2242,1,4,16,30,30,17,2,0.020927,2,5,5
4,2022-01-11,206,drink,153880,3017,1,9,35,34,16,5,1,0.019606,1,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
354,2022-12-27,556,condo,20879,2012,0,2,17,35,29,14,3,0.096365,2,5,0
355,2022-12-28,557,impel,20160,1937,0,3,21,40,25,9,1,0.096081,2,5,0
356,2022-12-29,558,havoc,20001,1919,0,2,16,38,30,12,2,0.095945,2,5,0
357,2022-12-30,559,molar,21204,1973,0,4,21,38,26,9,1,0.093048,2,5,0
358,2022-12-31,560,manly,20380,1899,0,2,17,37,29,12,2,0.093180,1,5,0

In [68]:
df.reset_index(drop=True,inplace=True)
df

,Date,Contest number,Word,Number of reported results,Number in hard mode,1 try,2 tries,3 tries,4 tries,5 tries,6 tries,7 or more tries (X),ratio,vowel,len,uniq
0,2022-01-07,202,slump,80630,1362,1,3,23,39,24,9,1,0.016892,1,5,5
1,2022-01-08,203,crank,101503,1763,1,5,23,31,24,14,2,0.017369,1,5,5
2,2022-01-09,204,gorge,91477,1913,1,3,13,27,30,22,4,0.020912,2,5,4
3,2022-01-10,205,query,107134,2242,1,4,16,30,30,17,2,0.020927,2,5,5
4,2022-01-11,206,drink,153880,3017,1,9,35,34,16,5,1,0.019606,1,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,2022-12-27,556,condo,20879,2012,0,2,17,35,29,14,3,0.096365,2,5,0
351,2022-12-28,557,impel,20160,1937,0,3,21,40,25,9,1,0.096081,2,5,0
352,2022-12-29,558,havoc,20001,1919,0,2,16,38,30,12,2,0.095945,2,5,0
353,2022-12-30,559,molar,21204,1973,0,4,21,38,26,9,1,0.093048,2,5,0
354,2022-12-31,560,manly,20380,1899,0,2,17,37,29,12,2,0.093180,1,5,0

In [69]:
max_size = len(df)
df["uniq"] = 0
for k in range(0, max_size):
    df["uniq"][k] = len(set(df["Word"][k]))
df

X:\Temp\ipykernel_20740\2467716850.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["uniq"][k] = len(set(df["Word"][k]))

,Date,Contest number,Word,Number of reported results,Number in hard mode,1 try,2 tries,3 tries,4 tries,5 tries,6 tries,7 or more tries (X),ratio,vowel,len,uniq
0,2022-01-07,202,slump,80630,1362,1,3,23,39,24,9,1,0.016892,1,5,5
1,2022-01-08,203,crank,101503,1763,1,5,23,31,24,14,2,0.017369,1,5,5
2,2022-01-09,204,gorge,91477,1913,1,3,13,27,30,22,4,0.020912,2,5,4
3,2022-01-10,205,query,107134,2242,1,4,16,30,30,17,2,0.020927,2,5,5
4,2022-01-11,206,drink,153880,3017,1,9,35,34,16,5,1,0.019606,1,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,2022-12-27,556,condo,20879,2012,0,2,17,35,29,14,3,0.096365,2,5,4
351,2022-12-28,557,impel,20160,1937,0,3,21,40,25,9,1,0.096081,2,5,5
352,2022-12-29,558,havoc,20001,1919,0,2,16,38,30,12,2,0.095945,2,5,5
353,2022-12-30,559,molar,21204,1973,0,4,21,38,26,9,1,0.093048,2,5,5
354,2022-12-31,560,manly,20380,1899,0,2,17,37,29,12,2,0.093180,1,5,5

In [70]:
np.unique(df["uniq"])

array([3, 4, 5], dtype=int64)

In [71]:
df[df["uniq"] == 3].Word

48     vivid
160    cacao
178    fluff
183    madam
199    motto
287    mummy
Name: Word, dtype: object

In [73]:
len(df[df["uniq"] == 3].Word)

6

In [72]:
df[df["uniq"] == 4].Word

2      gorge
5      abbey
12     robot
16     knoll
29     skill
       ...
336    apply
338    usual
345    excel
346    aorta
350    condo
Name: Word, Length: 94, dtype: object

In [74]:
len(df[df["uniq"] == 4].Word)

94

In [75]:
df.to_excel("data2.xlsx")
print("--")

--